@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

body {
    background: transparent !important;
}

.fixed-bottom {
    display:none;
    position: absolute;
    overflow:hidden;
}

.bottom-stuff {
    font-family: Staatliches;
    position: relative;
    left: 20px;
    
}

.textSize {
    font-size: 28px;
}